{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTACT US</title>


</head>
<body>
<style>
.button
{
    font-size: 13px;
    color:white;
    background-color:black;
}
</style>
<img src="{% static 'registration/registration/images/email.jpg' %}" width="10%" length="10%">
<h1><strong>CONTACT US THROUGH EMAIL</strong></h1>
<li>Email us on blossomshweta2003@gmail.com</li><br>
<li>Email us on Wanderlustsite@gmail.com</li><br>
<br>
<img src="{% static 'registration/registration/images/drop.jpg' %}" width="10%" length="10%">
<h1><strong>DROP BY ON OUR OFFICE</strong></h1>
<li>M/S WANDERLUST AGENCY,</li><br>
<li>Bld no.293,</li><br>
<li>Mahatma Gandhi Road,</li><br>
<li>Noyda,Delhi-11010</li><br>
<br>
<img src="{% static 'registration/registration/images/call.jpg' %}" width="10%" length="10%">
<h1><strong>GIVE US A CALL</strong></h1>
<li>Office Landline number: +44 5567 32 664 567</li><br>
<li>Mobile number: +91 8788628267</li><br>
<br>
<img src="{% static 'registration/registration/images/instagram.jog.jpg' %}" width="10%" length="10%">
<h1><strong>FOLLOW US ON INSTAGRAM</strong></h1>
<li>glowing_blossom_shweta</li><br>
<li>wanderlust_visit_site</li><br>
<br>
<img src="{% static 'registration/registration/images/facebook.jpg' %}" width="10%" length="10%">
<h1><strong>FOLLOW US ON FACEBOOK</strong></h1>
<li>amazind_wanderlust_</li>

<center><form method="get" action="/">
    <button class="button" type="submit"><p>GO BACK TO HOME PAGE</p></button>
</form></center>
<style>
    body {
    background: url("{% static 'registration/registration/images/contact2.jpg' %}") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    }

</style>


</body>
</html>