{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DESERT_TIPS</title>
</head>
<body>
<style>
    body {
    background: url("{% static 'registration/registration/images/news_1.jpg' %}") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    }
</style>
<style>
.button
{
    font-size: 13px;
    color:white;
    background-color:black;
}
</style>
    <center>
        <h1 style="font-family:Algerian">Tips to travel to deserts!!!!</h1>
        <h1 style="font-family:Arial Black">WHAT SHOULD YOU PACK FOR YOUR TRIP??</h1>
    </center>
<p><h3 style="font-family:Arial Black">1. DON’T BRING CLOSED SHOES</h3></p>
        <p style="font-family:Matura MT Script Capitals">And don’t bring sandals either.The best footwear are flip flops as you can easily take them off and put them on
            when you get in and out of the car. Everything else is just a hassle and takes up too time while everyone else
            is waiting in their flip flops.</p>
<p><h3 style="font-family:Arial Black">2. PACK FACIAL WATER</h3></p>
        <p style="font-family:Matura MT Script Capitals">You guessed it right, the desert is dry and so the humidity is very low. If you spend a few days in the desert it
            is best to pack some facial mist to keep your skin hydrated. A trip to the desert is similar to a flight on the
            plane with the  only difference that moisturising cream is not the best idea in combination with lots of sand.
        </p>
<p><h3 style="font-family:Arial Black">3. TAKE A COOLING BOX WITH YOU</h3></p>
        <p style="font-family:Matura MT Script Capitals">It is cold at night in the desert so you might not automatically think of a cooler. That is to say, it is cold at
            night during the winter months but during the day and all day in summer the desert can become boiling hot. And so
            a cooler becomes a necessity.</p>
<p><h3 style="font-family:Arial Black">4. DON’T FORGET A THERMOS</h3></p>
        <p style="font-family:Matura MT Script Capitals">Temperatures in the desert ranges widely. Its hot during the day but it can become pretty cold at night. So fill
            up your Thermos with some tea before heading out to your trip and you’ll be glad to drink it once the sun sets.
        </p>
<p><h3 style="font-family:Arial Black">5. BRING A THIN BLANKET</h3></p>
        <p style="font-family:Matura MT Script Capitals">Instead of packing yet another sweater to keep you warm, I suggest to take a thin blanket (like the ones that you
            get on an air plane). You can use it to sit on it, to wrap yourself up after sunset oder as an extra blanket for
            the night.</p>
        <p><h3 style="font-family:Arial Black">6.DON'T FORGET YOUR NECK WALLET</h3></p>
        <p style="font-family:Matura MT Script Capitals">Using a neck wallet is an awesome way to keep your valuables secure and organized during your desert trip. Keep
            your phone, wallet, map, keys and anything else you might need safely tucked away in this handy pouch around
            your neck. It’s a great way to keep your belongings secure during a day of desert trekking!</p>
        <p><h3 style="font-family:Arial Black">7.DON;T FORGET YOUR SUNSCREEN AT HOME</h3></p>
        <p style="font-family:Matura MT Script Capitals">Nothing will ruin your perfect trip like a red hot sunburn. Bringing sunscreen to the desert is almost as
            important as bringing water. Bring some with major SPF, and apply it every couple hours while you’re in
            the sun.</p>
<p><h3 style="font-family:Arial Black">8. FIRST AID KIT</h3></P>
        <p style="font-family:Matura MT Script Capitals">Any time you’re in the great outdoors, it’s necessary to bring along a first aid kit. Whether it’s a scraped
            knee or a headache, you should be prepared for anything. Keep this compact first aid kit in your car or
            backpack so that you can easily whip it on in case of emergency.</p>
    <center>
        <h1 style="font-family:Arial Black">WHAT SHOULD BE YOUR ADVANCED PLANNING??</h1>
    </center>
<p><h3 style="font-family:Arial Black">1.PLAN AHEAD: </h3></p>
<p style="font-family:Matura MT Script Capitals">The National Park Service advises that before starting out you should know where you are going.  Also, travel with a
    partner and advise someone about when you will be returning.  Check out the weather in advance and be prepared for
    sudden changes.</p>
<p><h3 style="font-family:Arial Black">2.DRINK WATER:</h3></p>
<p style="font-family:Matura MT Script Capitals">Whether you’re driving, hiking, or biking, desert heat can quickly lead to dehydration.  The NPS recommends at least
    one gallon per person each day.  Bring energy bars and keep an emergency supply of them at all times.</p>
<p><h3 style="font-family:Arial Black">3.DRESS APPROPRIATELY: </h3></p>
<p style="font-family:Matura MT Script Capitals">Because of extreme temperatures – high heat during the day and cold at night—be aware of the risk for heat stroke
    and hypothermia.  Protect yourself from the sun’s rays with a hat, sunglasses, and sunscreen.  Bring an extra
    jacket with you in case you’re out after dark when temperatures can plummet.</p>
<p><h3 style="font-family:Arial Black">4.ORIENT YOURSELF:</h3></p>
<p style="font-family:Matura MT Script Capitals">It’s easy to become disoriented in a desert environment.  Bring a GPS or compass with you.  If you do become
    stranded, especially on top of a dune, carry a mirror or piece of aluminum that can reflect sunlight and be used to
    flash a potential rescuer.</p>
<center>
    <h1 style="font-family:Arial Black">WHAT TO KEEP IN MIND DURING WALKING OR HIKING</h1>
</center>
<p><h3 style="font-family:Arial Black">1.AVOID WALKING IN THE HEAT.</h3></p>
<p style="font-family:Matura MT Script Capitals"> Try to walk before 10 a.m. or after 4 p.m.  If you’re walking or hiking, keep a slow, steady pace, and take regular
    rest breaks.  On rest breaks, don’t sit directly on the ground, where it is hottest.  Remember that a foot or two
    above the ground will be substantially cooler.</p>
<p><h3 style="font-family:Arial Black">2.BE AWARE THAT DISTANCES ARE DECEPTIVE.</h3></p>
<p style="font-family:Matura MT Script Capitals"> What may look like 5 miles may actually be 20 miles in the desert.</p>
<p><h3 style="font-family:Arial Black">3.WATCH YOUR STEP.</h3></p>
<p style="font-family:Matura MT Script Capitals"> You may not encounter desert creatures, as most are nocturnal.  However, some deserts are home to venomous snakes
    and spiders. To avoid being bitten, be sure to watch where you walk, where you put your hands, and where you sit,
    and avoid stepping over rocks.</p>
<p><h3 style="font-family:Arial Black">4.BEWARE OF FLASH FLOOD. </h3></p>
<p style="font-family:Matura MT Script Capitals">If you’re traveling in the summer, remember that this time of year can be very hot, with sudden rain storms and flash
    floods.  Beware of lightening and any signs of storms.  Try to get to shelter such as a car or building.  If you’re
    unable to get to shelter, it’s best to lie flat between dunes.</p>
<p><h3 style="font-family:Arial Black">5.AVOID FLOODED ROADWAYS AND DRY WASHES.</h3></p>
<p style="font-family:Matura MT Script Capitals"> Because of the danger posed by flash floods, never enter a flooded roadway, and avoid dry washes if rain is
    threatening.</p>
<center><form method="get" action="/">
    <button style="font-family:Cooper Black" class="button" type="submit"><p>GO BACK TO HOME PAGE</p></button>
</form></center>
</body>
</html>