{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FLY_TIPS</title>
</head>
<body>
<style>
    body {
    background: url("{% static 'registration/registration/images/news_2.jpg' %}") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    }
</style>

<style>
.button
{
    font-size: 13px;
    color:white;
    background-color:black;
}
</style>
<center>
    <h1 style="font-family:Algerian">Tips to fly abroad!!!</h1>
    <h1 style="font-family:Arial Black">SECURITY AND HEALTH</h1>
</center>
<p><h3 style="font-family:Arial Black">1. Check-in with your doctor and insurance carrier.</h3></p>
<p style="font-family:Arial Rounded MT Bold">Double check and make sure that you have all of the proper vaccinations and that you have renewed all essential
    prescriptions. Also, ask you medical insurance provider if your policy applies overseas for emergencies. If it
    doesn’t, and you want to add extra coverage, consider supplemental insurance.</p>
<p><h3 style="font-family:Arial Black">2. Bring copies of your passport.</h3></p>
<p style="font-family:Arial Rounded MT Bold">If your passport gets stolen or lost you want to be sure that you can still get back into the country, or be able
    to prove your citizenship.</p>
<p><h3 style="font-family:Arial Black">3. Leave a copy of your passport. </h3></p>
<p style="font-family:Arial Rounded MT Bold">For extra backup, leave a copy of your passport at home or with someone you trust. Consider making an electronic
    copy you can store in your email account as well.</p>
<p><h3 style="font-family:Arial Black">4. Register with your embassy.</h3></p>
<p style="font-family:Arial Rounded MT Bold"> If there’s a problem in the country, this will make it easier for your government to contact you and get you
    to safety.</p>
<center><h1 style="font-family:Arial Black">MONEY</h1></center>
<p><h3 style="font-family:Arial Black">1.Look up the monetary conversion before you go. </h3></p>
<p style="font-family:Arial Rounded MT Bold"> Finding out that one Danish Krone is equal to just 19 cents … bad surprise. Make sure you do your math before
    you travel to get a sense of where the conversion rate is at.</p>
<p><h3 style="font-family:Arial Black">2. Make sure your credit card will work in the country you're visiting.</h3></p>
<p style="font-family:Arial Rounded MT Bold">European banks have switched almost completely to the more secure chip-and-PIN technology, and fewer businesses
    abroad are accepting the outdated magnetic-strip cards.</p>
<p><h3 style="font-family:Arial Black">3.Go to a bank or ATM in the country you’re visiting.</h3></p>
<p style="font-family:Arial Rounded MT Bold"> The conversion centers in the airport or around the city tend to be huge rip-offs. You won’t get charged as many
    fees at the ATM or the bank, and the conversion will be exact.</p>
<p><h3 style="font-family:Arial Black">4. Always have local cash.</h3></p>
<p style="font-family:Arial Rounded MT Bold">Not every place takes credit cards. Especially important places like trains or buses.</p>
<p><h3 style="font-family:Arial Black">5.Call your bank or credit card provider.</h3></p>
<p style="font-family:Arial Rounded MT Bold">Sometimes banks think that fraud may be occurring if transactions are suddenly happening in Bali when you’re from
    Jersey, and they will turn off your card as a security measure.</p>
<p><h3 style="font-family:Arial Black">6.Check the country’s entrance/exit fees.</h3></p>
<p style="font-family:Arial Rounded MT Bold">Some countries require travelers to pay in order to enter or leave the country.
    These fees are not included in the price of your airline ticket, and can range from $25 to $200.</p>
<center><h1 style="font-family:Arial Black">LOCAL RESEARCH</h1></center>
<p><h3 style="font-family:Arial Black">1.Buy tickets now for places you know you want to visit or see.</h3></p>
<p style="font-family:Arial Rounded MT Bold">By buying in advance you’ll be able to skip more lines, and find more deals targeted toward you.</p>
<p><h3 style="font-family:Arial Black">2. Get guidebooks.</h3></p>
<p style="font-family:Arial Rounded MT Bold">Guidebooks usually include maps, keywords or phrases, and give you enough detail on certain sites that you won’t
    need to purchase the pamphlet at the venue. And download apps before you travel. Avoid downloading charges from
    your wireless carrier and get your apps before you leave.</p>
<p><h3 style="font-family:Arial Black">3.Research events going on while you’re there.</h3></p>
<p style="font-family:Arial Rounded MT Bold"> This will help you make sure that you’re not missing the best events going on in the city -- fun things like
    festivals, ceremonies and natural events. Also be sure to research as a few national dishes to try. You don’t
    want to leave the country without experiencing what its known for.</p>
<center><h1 style="font-family:Arial Black">ELECTRONICS</h1></center>
<p><h3 style="font-family:Arial Black">1. Bring a charger adapter.</h3></p>
<p style="font-family:Arial Rounded MT Bold">Countries have different size plugs and voltage. So if you want to use your iPod, make sure you can charge it.
    A power strip can be a way to cheat and charge multiple devices off of one adapter.</p>
<p><h3 style="font-family:Arial Black">2.Check the voltage of your electronics.</h3></p>
<p style="font-family:Arial Rounded MT Bold">From my own experience I know that nothing is worse than having an adapter and still not being able to use a
    blow-dryer or a straightener because the voltage isn’t high enough for that country</p>
<p><h3 style="font-family:Arial Black">3. Activate your phone’s global capabilities.</h3></p>
<p style="font-family:Arial Rounded MT Bold">There's usually a charge for doing this, but it is much less than the roaming charges you’ll get if you don’t.</p>
<center><h1 style="font-family:Arial Black">LUGGAGE AND PACKING</h1></center>
<p><h3 style="font-family:Arial Black">1. Pack an extra set of clothes in your carry-on bag. </h3></p>
<p style="font-family:Arial Rounded MT Bold"> Don’t be one of those travelers decked out in J’adore Paris apparel because the airline lost your luggage and you
    have nothing else to wear.</p>
<p><h3 style="font-family:Arial Black">2. To check a bag or not to check bag.</h3></p>
<p style="font-family:Arial Rounded MT Bold">Each airline has its own set of guidelines as to how many bags can be checked or carried on for free. Make sure to
    look up what your airline’s rules are to avoid any incremental fees. And, if you are connecting during your trip,
    know the luggage rules/fees for those airlines as well -- especially for regional or low-cost carriers.</p>
<p><h3 style="font-family:Arial Black">3. Bring snacks.</h3></p>
<p style="font-family:Arial Rounded MT Bold">Traveling abroad is fun, but eating in a foreign country can sometimes become a task. Bring small snacks that will
    tide you over until you find that perfect restaurant or food cart.</p>
<center><form method="get" action="/">
    <button style="font-family:Cooper Black" class="button" type="submit"><p>GO BACK TO HOME PAGE</p></button>
</form></center>
</body>
</html>