{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WATER_TIPS</title>
</head>
<body>
<style>
    body {
    background: url("{% static 'registration/registration/images/travello.jpg' %}") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    }
</style>
<style>
.button
{
    font-size: 13px;
    color:white;
    background-color:black;
}
</style>
<center>
    <h1 style="font-family:Algerian">Tips to travel in waters!!!!</h1>
    <h1 style="font-family:Arial Black">WHAT TO DO INSIDE WATER</h1>
</center>
<p><h3 style="font-family:Arial Black">1. The first thing is DO NOT SHAVE.</h3></p>
<p style="font-family:Tw Cen MT Condensed Extra Bold">This will make the experience incredibly painful. Do not shave 5 days before getting
    in the water. If you have shaved, do not stay in more than a couple of minutes and lather up with oil before getting
    in to protect those pores. Men should be getting their face wet anyways, but definitely don’t get in with razor
    burn!</p>
<p><h3 style="font-family:Arial Black">2. Do not stay in for more than 10 minutes.</h3></p>
<p style="font-family:Tw Cen MT Condensed Extra Bold">You can get out and then go back in again but each time should be no longer than 10
    minutes.</p>
<p><h3 style="font-family:Arial Black">3. Do not get in if you have any open cuts or sores. </h3></p>
<p style="font-family:Tw Cen MT Condensed Extra Bold"> You’ll really understand the saying “putting salt in the wound” if you do. It will
    seriously hurt and is not highly recommended.</p>
<p><h3 style="font-family:Arial Black">4. That famous mud:</h3></p>
<p style="font-family:Tw Cen MT Condensed Extra Bold">Do NOT dive down and try to get it yourself! You shouldn’t be getting your face wet.
    The mud is made available at the beaches in little containers that you can put on</p>
<p><h3 style="font-family:Arial Black">5. Do not get the water in your eyes. </h3></p>
<p style="font-family:Tw Cen MT Condensed Extra Bold"> In fact, some people have had to call lifeguards because with the water forcing you
    to float and the salt making you close your eyes, people do panic as it gets really difficult to get out of the
    water. It seems silly, but actually can be a dangerous situation! Of course you won’t drown since you can’t sink in
    the salt water, still it can be scary.</p>
<p><h3 style="font-family:Arial Black">6. You need to rinse off </h3></p>
<p style="font-family:Tw Cen MT Condensed Extra Bold"> You need to rinse off as soon as you get out unless you are there trying to heal
    some skin problems and are told to keep the salt on.</p>
<center><h1 style="font-family:Arial Black">PACKING TIPS & CHECKLIST</h1></center>
<p><h3 style="font-family:Arial Black">Important Documents: Be sure to pack and keep any or all of the below within reach at all times.</h3></p>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Driver’s license/ Other government photo ID</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Birth certificate</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Boarding pass</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Passport/Visas (Valid for at least 6 months from when you return)</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Travel Documents/reservation itinerary</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Credit or ATM Cards/Cash</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Immunization records</li>
<p><h3 style="font-family:Arial Black">Carry-On: Pack your carry-on suitcase wisely with essential items for convenient outfit swaps or that “worst
    case scenario.” If you are cruising, you may want to hit the pool once you board the ship, but any suitcases you
    check in may not get delivered to your cabin right away, so make sure to carry that on. Also, keep a daypack or
    beach bag, which can double for excursions or outings during your trip, keeping in mind there may be liquid volume
    restrictions depending on your travels.</h3></p>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Bathing suit, sunscreen and hat</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Change of clothes</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Extra pair of shoes/flip flops</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Toiletries and necessities</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Important medications including prescriptions</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Entertainment for kids or snacks</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Charging devices for electronics</li>
<p><h3 style="font-family:Arial Black">Travel Basics: Pack these essentials along so you won’t get stuck paying inflated prices at ports of call,
    on board or at your destination.</h3></p>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Toiletries (shampoo, conditioner, lotion, toothpaste, contact solution, deodorant
    etc.)</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Sunscreen and aloe</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Prescription/ Over-the-counter medications</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Cameras/Camcorders/memory cards</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Batteries</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Cellphone/electronics chargers (Make sure you check your cell-phone’s roaming
    charges when leaving the U.S. or going out to sea)</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Plastic storage bags</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Alarm clock</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Electric converters/adapters or multiple plug outlet</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">First aid kit</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Hand sanitizer</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Nail clipper</li>
<p><h3 style="font-family:Arial Black">Dress for your destination: Some vacations may take you through multiple climates, so bring a variety of options
    for your travels.</h3></p>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Check weather conditions prior to traveling</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Plan outfits for each activity or each day</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">If cruising, plan for formal dinners and day outfits (check with your cruise line
    about formal or themed nights, which may impact your wardrobe choices)</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Always pack some extras, you never know!</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Comfy shoes such as a pair of sneakers are a must have when sightseeing</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Don’t forget hats, socks, gloves and other accessories</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">It can get chilly once the sun goes down in some climates, pack accordingly</li>
<p><h3 style="font-family:Arial Black">Extended Vacations: Keep your vacation smooth and organized</h3></p>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Foldable shoe organizer for extra storage</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Clothes hampers/ bags</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Extra hangers</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Laundry detergent if you plan on doing some</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Foldable duffle bag to pack souvenirs/pool bag or additional storage</li>
<li style="font-family:Tw Cen MT Condensed Extra Bold">Laptop/tablet</li>
<center><form method="get" action="/">
    <button style="font-family:Cooper Black" class="button" type="submit"><p>GO BACK TO HOME PAGE</p></button>
</form></center>

</body>
</html>